<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, <%= @user.username %>!</h2>
    <p>Here are your instructions:
    <p>Target: <%= @mission.target.user.username %></p>
    <p>Place: <%= @mission.place.name %></p>
    <p>Weapon: <%= @mission.weapon.name %></p>
    <p>
    <p>Ace
  </body>
</html>